<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="1.0">
    <persistence-unit name="myUnit" transaction-type="RESOURCE_LOCAL">
        <!--<provider>org.hibernate.ejb.HibernatePersistence</provider>-->
        <!--<non-jta-data-source>DefaultDS</non-jta-data-source>-->
        <!--<properties>-->
            <!--<property name="hibernate.dialect" value="org.hibernate.dialect.H2Dialect"/>-->
            <!--<property name="hibernate.hbm2ddl.auto" value="update"/>-->
        <!--</properties>-->
    </persistence-unit>
</persistence>
